html{scroll-behavior: smooth;}
body{font-family: "Proxima Nova", sans-serif;}

a, a:hover {text-decoration: none;}
h1, h2, h3, h4, h5, h6{margin: 0 0 .5rem;}
.h3, h3 {font-size: 1.75rem;}

table tr th, table tr td {padding: .75rem;}

.modal-xs{width: 25vw;max-width: 400px;}
.modal-sm{width: 55vw;max-width: 700px;}
.modal-md{width: 70vw;max-width: 850px;}
.styles_modal__gNwvD{width: 80vw;max-width: 900px;}
.modal-lg{width: 85vw;max-width: 1000px;}

.m-container{
    width: 100%;
    max-width: 100%;
}
.nav-bar{font-family: "Proxima Nova", sans-serif; height: 64px;vertical-align: middle;line-height: 64px;box-shadow: 0 0 40px 0 #ddd;margin-bottom: 25px}
.navbar-sec{float: right; width: 100%}
.navbar-sec li{display: inline;margin-left: 1rem;font-size: 19px;font-weight: 500;padding: 1rem;color: #000000}
.navbar-sec li a{color: #000000}
.navbar-sec a.active{color: #ff6969;font-weight: 600;}

.product-sec{margin-bottom: 4rem;}
.product-sec .title{font-family: 'Miriam Libre', sans-serif;color: #ff6969;font-size: 55px;margin: 0 0 3rem;}
.product-sec .sub-title-sec{max-width: 610px;margin: auto;}
.product-sec .sub-title{font-family: 'almoni-dl-aaa-300', sans-serif;color: #414141;font-size: 28px;font-style: italic;}
.product-sec .sub-title span{color: #ff6969;font-weight: bold;}

.service-sec{margin-bottom: 4rem;}
.service-sec .service-block img{max-height: 100px;margin-bottom: 1rem;}
.service-sec .service-block .title{font-family: omes-aaa-400, sans-serif;color: #ff6969;font-size: 26px;line-height: 26px;}

.how-it-works-sec{margin-bottom: 4rem;}
.how-it-works-sec .sec-head{margin: 0 0 5rem;}
.how-it-works-sec .sec-heading{display: block;color: #595959;text-decoration: none;}
.how-it-works-sec .sec-head img{opacity: 0.25;outline: transparent solid 1px;width: 96px;height: 49px;object-fit: cover;}
.how-it-works-sec div.row{position: relative;}
.how-it-works-sec div.row > div.col.m4{position: relative;}
.how-it-works-sec .block{margin-bottom: 2rem;}
.how-it-works-sec .block:after{content: "";display: block;left: 0;height: 400px;position: absolute;visibility: inherit;top: 0;width: 1px;box-sizing: border-box;background: rgba(153, 153, 151, 1);transform: translate(0,-7%) rotate(21deg);-webkit-transform: translate(0,-7%) rotate(21deg);}
.how-it-works-sec .block:last-child:after{display: none;}
.how-it-works-sec .block .title{font-family: 'Miriam Libre', sans-serif;color: #ff6969;font-size: 28px;line-height: 28px;font-weight: 400;margin: 0.5rem 0 1.5rem;transform: skew(21deg);}
.how-it-works-sec .block .summary-text{font-family: 'almoni-dl-aaa-300', sans-serif; padding: 0 1rem;text-align: right;font-weight: normal;font-size: 17px;color: #414141;margin: 0;line-height: normal;transform: skew(21deg);}
.how-it-works-sec .block .summary-text span{font-weight: bold;}
.how-it-works-sec .block .link-btn{color: #ff6969;text-decoration: none;transform: skew(21deg);}
.how-it-works-sec .block .link-btn span{font-family:"Proxima Nova",sans-serif;font-size: 25px;}
.how-it-works-sec .block .link-btn i{font-size: 25px;position: relative;bottom: -5px;}
.how-it-works-sec .div-rotate-right{transform: skew(-21deg);padding: 0 15px;}
.how-it-works-sec .cross-number-pipe-line{display: block;margin-bottom: 1rem;}
.how-it-works-sec .cross-number-pipe-line span{display: inline-block;height: 40px;margin: 0 0.75rem;width: 1px;box-sizing: border-box;background: rgba(153, 153, 151, 1);}

.about-us-sec{margin-bottom: 4rem;}
.about-us-sec .sec-head{margin: 0 0 5rem;}
.about-us-sec .sec-head .sec-heading{display: block;color: #595959;text-decoration: none;}
.about-us-sec .sec-head img{opacity: 0.25;outline: transparent solid 1px;width: 96px;height: 49px;object-fit: cover;}
.about-us-sec .user-block img{max-height: 250px;margin-bottom: 1rem;}
.about-us-sec .user-block .title{font-family: almoni-dl-aaa-300, sans-serif;color: #414141;font-size: 33px;line-height: 33px;}
.about-us-sec .user-block a.sub-title-link{font-family: 'Miriam Libre', sans-serif;color: #ff6969;font-size: 23px;line-height: 23px;}
.about-us-sec .user-block .summary-text{font-family: 'almoni-dl-aaa-300', sans-serif; padding: 0 1rem;text-align: center;font-weight: normal;font-size: 17px;color: #414141;line-height: normal;margin: 0.5rem 0;}
.about-us-sec .user-block .summary-text span{font-weight: bold;}


.text-gray{color: #5C5C5C;}
.text-red{color: #ff6969}
.btn-red{background-color: #ff6969!important;border-radius: unset!important;font-family: "Proxima Nova",sans-serif !important;font-size: 22px!important;line-height: 31px!important;text-transform: none !important;padding: 0.5rem 4rem!important;}

/*profile-page css start*/
.theme-red-color{color: #FF6969;}
.theme-sky-color{color: #6CE6C8;}

.profile-sec{padding: 3rem 1rem 0;font-family: 'Josefin Sans';}
.profile-sec .btn i{line-height: 1;font-size: 24px;}
.profile-sec .profile-pic{max-width: 200px;max-height: 200px;}
.profile-sec .profile-detail-div{text-align: right;}
.profile-sec .profile-name{font-size: 3rem;text-transform: capitalize;margin: 0 0 0.5rem;}
.profile-sec .profile-name .status{line-height: 3rem;position: relative;top: -5px;}
.profile-sec .profile-name .warning-status{line-height: 28px;font-size: 28px;}
.profile-sec .profile-name .warning-status button{position: relative;top: -2px;height: 28px;width: 28px;line-height: 28px;}
.profile-sec .profile-name .warning-status button i{font-size: 1.15rem;line-height: 28px;}
.profile-sec .profile-sub-text{font-size: 1.25rem;margin: 0 0 0.5rem;}
.profile-sec .profile-sub-text i{font-size: 1.25rem}
.profile-sec .profile-btn{font-size: 1.25rem; color: #FF6969;border-color: #FF6969;padding: 0 0.30rem 0.25rem 0.30rem !important;line-height: initial;box-shadow: none;font-weight: 500;text-transform: capitalize;font-family: 'Josefin Sans';}
.profile-sec .profile-btn i{font-size: 1.25rem;}

.profile-sec .card{margin-bottom: 1rem;background-color: #fafafa;min-height: 255px;}
.profile-sec .card .add-new-link{position: absolute;top: 24px;right: 24px;}
.profile-sec .card .service-title{font-size: 2rem;color: #FF6969;text-align: center;text-transform: capitalize;padding-bottom: 5px;border-bottom: 1px solid #323232;margin-bottom: 0.5rem;}
.profile-sec .card .card-text h3 i{font-size: 1.75rem;line-height: 1.2;vertical-align: middle;}

.profile-sec .card .card-text .collapsible-div{height: 150px;overflow: hidden;-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;transition: all 1s;}
.profile-sec .card .card-text .collapsible-div.expanded{height: auto;overflow: auto;-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;transition: all 1s;}
.profile-sec .card .card-text .collapsible-div .collapse-icon{position: absolute;bottom: 5px;left: 0;right: 0;text-align: center;}
.profile-sec .card .card-text .collapsible-div .collapse-icon button{display: none;}
.profile-sec .card .card-text .collapsible-div .collapse-icon button.btn-primary:active{color: #6CE6C8;}
.profile-sec .card .card-text .collapsible-div table tbody tr:last-child{border: none;}
.profile-sec .card .card-text .collapsible-div table tbody td{font-size: 1.15rem;padding: .75rem;}

.profile-sec .card .service-result-btn{background-color: #FF6969;border-color: #FF6969;text-transform: capitalize;font-size: 1.25rem;color: #ffffff;font-weight:500;padding: .46875rem 1rem;line-height: 1.5;height: auto;}
.profile-sec .card .service-result-btn:hover{background-color: #d25757;}
.profile-sec .card .service-edit-btn{background-color: #656565;border-color: #656565;text-transform: capitalize;font-size: 1.25rem;color: #ffffff;font-weight:500;padding: .46875rem 1rem;line-height: 1.5;height: auto;}
.profile-sec .card .service-edit-btn:hover{background-color: #454545;}

.create-partner-form form{box-shadow: 0 0 10px 0 #ddd;padding: 1rem;}
.create-partner-form .section{padding: 0;}
.create-partner-form .row{margin-bottom: 0;}
.create-partner-form .section .sec-heading{width: auto;margin: 1rem auto;display: table;border-bottom: 1px solid rgba(0,0,0,0.87);padding: 0.5rem 2rem;font-size: 1.4rem;}
.create-partner-form .section .sec-heading.red-text{border-bottom: 1px solid rgba(244, 67, 54, 0.97);}
.create-partner-form .section .side-sec-heading{width: auto;margin: 1rem 0;display: table;border-bottom: 1px solid rgba(0,0,0,0.87);padding: .75rem 2rem 0.5rem;}
.create-partner-form .section .card-panel .sec-heading{margin: 0 auto 1rem;}
.create-partner-form .section .card-panel.teal.accent-1 {background-color: rgba(167, 255, 235, 0.25) !important;}
.create-partner-form .section .card-panel.red.accent-1{background-color: rgba(255, 138, 128, 0.25) !important;}

.add-edit-property-form .modal-content{background-color: #f0f0f0;}
.add-edit-property-form .card{box-shadow: 0 0 10px 0 #ddd;padding: 1rem;}
.add-edit-property-form .section{padding: 0;}
.add-edit-property-form .img-div{height: 100px;margin: 0 auto;display: flex;align-items: center;width: 100%;}
.add-edit-property-form img{max-height: 100px;max-width: 100%;height: auto;margin: 0 auto;}
.add-edit-property-form .row{margin-bottom: 0;}
.add-edit-property-form .section .sec-heading{width: auto;margin: 1rem auto;display: table;border-bottom: 1px solid rgba(0,0,0,0.87);padding: 0.5rem 2rem;font-size: 1.4rem;}
.add-edit-property-form .section .sec-heading.red-text{border-bottom: 1px solid rgba(244, 67, 54, 0.97);}

.new-card-panel{box-shadow: none;padding: 10}

footer{position: relative;padding: 15px;}

.styles_modal__gNwvD,.edit-profile-modal{padding: 0;max-width: 100%;}
.styles_modal__gNwvD > button,.edit-profile-modal > button{color: #ffffff;}
.styles_modal__gNwvD > button:focus,.edit-profile-modal > button:focus{background: none}
.modal-header{background: #FF6969;color: #ffffff;padding: 0.5rem 3.5rem 0.5rem 1rem;text-align: left;height: 64px;display: flex;align-items: center;background-size: cover;}
.modal-header h3{font-size: 24px;margin: 0;width: 100%;}
.modal-content{padding: 1rem 1.5rem;max-height: 87vh;}
.modal-footer {    display: none !important;border-radius: 0 0 9px 2px;background-color: #fafafa;padding: 4px 6px;height: 56px;width: 100%;text-align: right;border-top: 1px solid #ddd;display: flex;align-items: center;}
.modal-footer .action-btn{background-color: #FF6969;border-color: #FF6969;}
.modal-footer .action-btn:hover{background-color: #d25757;}
.modal-footer .reset-btn{background-color: #656565;border-color: #656565;}
.modal-footer .reset-btn:hover{background-color: #454545;}

.btn-floating.btn-icon-32{height: 32px;width: 32px;background: none;color: #595959;box-shadow: none;}
.btn-floating.btn-icon-32:hover{color: #009688;background-color: hsla(0,0%,60%,.2);border-color: hsla(0,0%,60%,.2);}
.btn-floating.btn-icon-32 i{line-height: 32px;color: #595959;}
.btn-floating.btn-icon-32:hover i{line-height: 32px;color: #009688;}

.btn-floating.btn-icon-32.text-blue:hover{color: #2196f3;}
.btn-floating.btn-icon-32.text-blue:hover i{color: #2196f3;}
.btn-floating.btn-icon-32.text-indigo:hover{color: #3f51b5;}
.btn-floating.btn-icon-32.text-indigo:hover i{color: #3f51b5;}
.btn-floating.btn-icon-32.text-purple:hover{color: #9c27b0;}
.btn-floating.btn-icon-32.text-purple:hover i{color: #9c27b0;}
.btn-floating.btn-icon-32.text-pink:hover{color: #e91e63;}
.btn-floating.btn-icon-32.text-pink:hover i{color: #e91e63;}
.btn-floating.btn-icon-32.text-red:hover{color: #f44336;}
.btn-floating.btn-icon-32.text-red:hover i{color: #f44336;}
.btn-floating.btn-icon-32.text-orange:hover{color: #ff9800;}
.btn-floating.btn-icon-32.text-orange:hover i{color: #ff9800;}
.btn-floating.btn-icon-32.text-yellow:hover{color: #ffeb3b;}
.btn-floating.btn-icon-32.text-yellow:hover i{color: #ffeb3b;}
.btn-floating.btn-icon-32.text-green:hover{color: #4caf50;}
.btn-floating.btn-icon-32.text-green:hover i{color: #4caf50;}
.btn-floating.btn-icon-32.text-teal:hover{color: #009688;}
.btn-floating.btn-icon-32.text-teal:hover i{color: #009688;}
.btn-floating.btn-icon-32.text-cyan:hover{color: #00bcd4;}
.btn-floating.btn-icon-32.text-cyan:hover i{color: #00bcd4;}
.btn-floating.btn-icon-32.text-white:hover{color: #fff;}
.btn-floating.btn-icon-32.text-white:hover i{color: #fff;}
.btn-floating.btn-icon-32.text-gray:hover{color: #6c757d;}
.btn-floating.btn-icon-32.text-gray:hover i{color: #6c757d;}
.btn-floating.btn-icon-32.text-gray-dark:hover{color: #343a40;}
.btn-floating.btn-icon-32.text-gray-dark:hover i{color: #343a40;}
.btn-floating.btn-icon-32.text-primary:hover{color: #009688;}
.btn-floating.btn-icon-32.text-primary:hover i{color: #009688;}
.btn-floating.btn-icon-32.text-secondary:hover{color: #6c757d;}
.btn-floating.btn-icon-32.text-secondary:hover i{color: #6c757d;}
.btn-floating.btn-icon-32.text-success:hover{color: #4caf50;}
.btn-floating.btn-icon-32.text-success:hover i{color: #4caf50;}
.btn-floating.btn-icon-32.text-info:hover{color: #03a9f4;}
.btn-floating.btn-icon-32.text-info:hover i{color: #03a9f4;}
.btn-floating.btn-icon-32.text-warning:hover{color: #ff5722;}
.btn-floating.btn-icon-32.text-warning:hover i{color: #ff5722;}
.btn-floating.btn-icon-32.text-danger:hover{color: #f44336;}
.btn-floating.btn-icon-32.text-danger:hover i{color: #f44336;}
.btn-floating.btn-icon-32.text-light:hover{color: #f5f5f5;}
.btn-floating.btn-icon-32.text-light:hover i{color: #f5f5f5;}
.btn-floating.btn-icon-32.text-dark:hover{color: #424242;}
.btn-floating.btn-icon-32.text-dark:hover i{color: #424242;}

.text-blue{color: #2196f3 !important;}
.text-indigo{color: #3f51b5 !important;}
.text-purple{color: #9c27b0 !important;}
.text-pink{color: #e91e63 !important;}
.text-red{color: #f44336 !important;}
.text-orange{color: #ff9800 !important;}
.text-yellow{color: #ffeb3b !important;}
.text-green{color: #4caf50 !important;}
.text-teal{color: #009688 !important;}
.text-cyan{color: #00bcd4 !important;}
.text-white{color: #fff !important;}
.text-gray{color: #6c757d !important;}
.text-gray-dark{color: #343a40 !important;}
.text-primary{color: #009688 !important;}
.text-secondary{color: #6c757d !important;}
.text-success{color: #4caf50 !important;}
.text-info{color: #03a9f4 !important;}
.text-warning{color: #ff5722 !important;}
.text-danger{color: #f44336 !important;}
.text-light{color: #f5f5f5 !important;}
.text-dark{color: #424242 !important;}

.p-2 {padding: .5rem!important;}
.p-3 {padding: 1rem!important;}
.p-r-7{padding-right: 7px;}
.p-0-3{padding: 0 1rem;}
.p-0-4{padding: 0 1.5rem;}
.p-0-5{padding: 0 3rem;}

.m0i{margin: 0!important;}
.mt-0{margin-top: 0!important;}
.mt-1{margin-top: .25rem!important;}
.mt-2{margin-top: .5rem!important;}
.mt-3{margin-top: 1rem!important;}
.mt-4{margin-top: 1.5rem!important;}
.mt-5{margin-top: 3rem!important;}
.mr-0{margin-right: 0!important;}
.mr-1{margin-right: .25rem!important;}
.mr-2{margin-right: .5rem!important;}
.mr-3{margin-right: 1rem!important;}
.mr-4{margin-right: 1.5rem!important;}
.mr-5{margin-right: 3rem!important;}
.mb-0{margin-bottom: 0!important;}
.mb-1{margin-bottom: .25rem!important;}
.mb-2{margin-bottom: .5rem!important;}
.mb-3{margin-bottom: 1rem!important;}
.mb-4{margin-bottom: 1.5rem!important;}
.mb-5{margin-bottom: 3rem!important;}
.mb-25{margin-bottom: 25px!important;}
.ml-0{margin-left: 0!important;}
.ml-1{margin-left: .25rem!important;}
.ml-2{margin-left: .5rem!important;}
.ml-3{margin-left: 1rem!important;}
.ml-4{margin-left: 1.5rem!important;}
.ml-5{margin-left: 3rem!important;}
.row-margin{margin: 0 auto 25px 0 !important;}

.right-m-80{position: relative;right: -80px;}
.left-m-80{position: relative;left: -80px;}


.shotafim-logo{width: 100%}
.info-text{font-family: "Alef", sans-serif;color: #414141;text-align: center;font-size: 20px;}
.full-width{width: 100%;}

nav {box-shadow: none;background: white;}
nav ul{background: white;}
nav a{color: #ffffff;}
.navbar-sec li{padding: 0;}

/*profile-page css end*/


@media (max-width: 1280px) {
    .how-it-works-sec .block:after {
        height: 440px;
        transform: translate(0, -6%) rotate(21deg);
        -webkit-transform: translate(0, -6%) rotate(21deg);
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1199.98px) {
    .profile-sec .card h3 {
        font-size: 1.5rem;
        line-height: 1;
    }

    .profile-sec .card h3 i {
        font-size: 1.5rem;
        line-height: 1;
        vertical-align: middle;
    }
}

@media(max-width: 1080px) {
    .modal-xs {width: 25vw;max-width: 400px;}
    .modal-sm {width: 55vw;max-width: 600px;}
    .modal-md {width: 70vw;max-width: 750px;}
    .styles_modal__gNwvD{width: 80vw;max-width: 800px;}
    .modal-lg {width: 90vw;max-width: 915px;}
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    .styles_modal__gNwvD .container {
        width: 90%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) {
    .profile-sec .profile-name {
        font-size: 2.5rem;
    }
}

@media (max-width: 991px) {
    .how-it-works-sec div.row>div.col.m4 {
        width: 100%;
        padding: 15px 0 20px;
        float: none;
        max-width: 500px;
        margin: 0 auto;
    }

    .how-it-works-sec div.row>div.block .div-rotate-right {
        transform: none;
    }

    .how-it-works-sec div.row>div.block .title {
        transform: none;
    }

    .how-it-works-sec div.row>div.block .summary-text {
        transform: none;
    }

    .how-it-works-sec div.row>div.block .link-btn {
        transform: none;
    }

    .how-it-works-sec div.col.m4:after {
        transform: none;
        width: 100%;
        height: 1px;
        top: inherit;
        bottom: 0;
    }

    .how-it-works-sec .cross-number-pipe-line {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) {
    .profile-sec .profile-name {
        font-size: 2rem;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {
    .col {
        width: 100% !important;
    }

    .profile-sec .profile-detail-div {
        text-align: center;
    }

    .profile-sec .card h3 {
        font-size: 1.25rem;
        line-height: 1;
    }

    .profile-sec .card h3 i {
        font-size: 1.25rem;
        line-height: 1;
        vertical-align: middle;
    }
}

@media (max-width: 450px) {
    .navbar-sec {
        float: none;
        text-align: center;
    }
}
