 .input-field input:focus+label {
     color: red !important;
 }

 /* label underline focus color */
 .row .input-field input:focus {
     border-bottom: 1px solid red !important;
     box-shadow: 0 1px 0 0 red !important
 }

 .half{width: 50%;margin: 0 auto;}
 .half-half{width: 25%;margin: 0 auto;}

 .pic-display{
       margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }

 .select-wrapper input.select-dropdown{
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
 }